#cover {
    display: flex;
    flex-direction: column;
}
#cover .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 50px;
}
#cover .row p {
    color: white;
    font-size: 30px;
    padding: 20px;
}
