body {
    font-family: Helvtica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
h2, h4{
    background-color: #000;
    margin: 0;
    padding: 10px;
}

/* header */
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 50px;
    margin-left: 10px;
}
header nav {
    display: flex;
    text-decoration: underline;
}
header nav p {
    padding: 5px;
}

/* content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jumbotron {
    background-image: url("img/img-mission-background.webp");
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#tea-of-the-month {
    width: 1000px;

}
#tea-of-the-month .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#tea-of-the-month .item {
    margin: 10px;
}
#tea-of-the-month img {
    width: 300px;
    height: 200px;
}

#location {
    background-image: url("img/img-locations-background.webp");
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#location h2 {
    background-color: transparent;
}
#location .row {
    display: flex;
}
#location .item {
    background-color: black;
    width: 300px;
    margin: 20px;
}
#info {
    height: 200px;
}

/* footer */
footer {
    display: flex;
}
footer p {
    margin-left: 20px;
    font-size: 15px;
}