#cover {
    color: white;
    font-size: 30px;
    text-align: start;
    margin-top: 20px;
    margin-right: 10vw;

    width: 90vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
}
